<nav class="bg-transparent" data-controller="dropdown">
  <div class="container mx-auto">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="ml-4 inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-zinc-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
          data-action="dropdown#toggle click@window->dropdown#hide"
        >
          <span class="sr-only">Open main menu</span>
          <!--Icon when menu is closed. Menu open: "hidden", Menu closed: "block" -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!-- Icon when menu is open. Menu open: "block", Menu closed: "hidden" -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="hidden sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-zinc-900 text-white", Default: "text-gray-300 hover:bg-zinc-700 hover:text-white" -->
            <%= render MenuItemComponent.with_collection(items) %>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <div class="relative ml-3" data-controller="dropdown">
          <div>
            <button type="button" class="flex rounded-full bg-zinc-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true" data-action="dropdown#toggle click@window->dropdown#hide">
              <span class="sr-only">Open User Menu</span>
              <img class="h-8 w-8 rounded-full" src="<%= @user.gravatar_url %>" alt="<%= @user.email %>">
            </button>
          </div>
          <div
            class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-zinc-50 py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none divide-y text-zinc-900"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
            data-dropdown-target="menu"
            data-transition-enter-from="opacity-0 scale-95"
            data-transition-enter-to="opacity-100 scale-100"
            data-transition-leave-from="opacity-100 scale-100"
            data-transition-leave-to="opacity-0 scale-95"
          >
            <%= link_to(
              profile_path,
              class: "block px-4 py-2 text-sm font-bold flex flex-row items-center w-full hover:bg-zinc-100",
              role: "menuitem",
              tabindex: "-1"
            ) do %>
              Profile
            <% end %>
            <%= link_to(
              user_final_girls_path,
              class: "block px-4 py-2 text-sm font-bold flex flex-row items-center w-full hover:bg-zinc-100",
              role: "menuitem",
              tabindex: "-1"
            ) do %>
              My Final Girls
            <% end %>
            <%= button_to(
              destroy_user_session_path,
              class: "block px-4 py-2 text-sm font-bold flex flex-row items-center w-full hover:bg-zinc-100",
              method: :delete,
              role: "menuitem",
              tabindex: "-1"
            ) do %>
              <i class="fas fa-sign-out-alt"></i>
              <span class="ml-2">Log Out</span> 
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div
    class="hidden sm:hidden absolute left-4 z-10 w-48 origin-top-left rounded-md bg-zinc-50 py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none divide-y text-zinc-900"
    id="mobile-menu"
    data-dropdown-target="menu"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95"
  >
    <div class="space-y-1 px-2 pt-2 pb-3">
      <% items.each do |item| %>
        <%= link_to item[:name], item[:path], class: "block px-4 py-2 text-sm font-bold flex flex-row items-center w-full hover:bg-zinc-100" %>
      <% end %>
    </div>
  </div>
</nav>
