<% content_for :title, "Log In" %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mb-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="mb-4">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="mb-4 flex items-center">
      <%= f.check_box :remember_me, class: "rounded mr-2" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log In" %>
  </div>
<% end %>
<p class="mt-4 text-white">By signing up, you'll have the ability to track your achievements for Final Girl. Additionally, having an account allows you to save and access your data on any browser or device, so you can pick up right where you left off no matter where you are.</p>

<%= render "devise/shared/links" %>
