<%= form_for @location do |f| %>
  <div class="mb-4">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="mb-4">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <div class="mb-4">
    <%= f.label :series_id %>
    <%= f.collection_select :series_id, Series.all, :id, :name %>
  </div>
  <div class="mb-4">
    <%= f.label :icon %>
    <%= f.file_field :icon %>
  </div>
  <div class="mb-4">
    <%= f.label :logo %>
    <%= f.file_field :logo %>
  </div>
  <%= link_to "Back", root_path, class: "button bg-transparent hover:bg-zinc-800 mr-2" %>
  <%= f.submit %>
<% end %>
