<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Final Girl – Achievement Tracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Golos+Text:wght@400;700&display=swap" rel="stylesheet"> 


    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://kit.fontawesome.com/2f76fad117.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full bg-zinc-900 relative">
    <% flash.each do |type, message| %>
      <%= render AlertComponent.new(message) %>
    <% end %>
    <main class="bg-zinc-800 flex flex-col h-full w-full">
      <% if user_signed_in? %>
        <%= button_to(
          destroy_user_session_path,
          class: "button absolute right-4 top-4",
          method: :delete
        ) do %>
          <span class="hidden mr-2 sm:inline">Log Out</span> 
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      <% end %>
      <div class="flex flex-col items-center justify-center mb-4 mt-8 sm:mb-8">
        <%= link_to root_path do %>
          <%= image_tag("final_girl_logo.png", class: "w-60") %>
          <p class="text-zinc-100 text-xl uppercase">Achievement Tracker</p>
        <% end %>
      </div>
      <div class="bg-zinc-900 flex flex-1 rounded-t-3xl p-4 w-full sm:px-8">
        <div class="container mx-auto flex flex-col flex-1 items-center">
          <%= content_for?(:content) ? yield(:content) : yield %>
          <footer class="mt-20 text-center text-zinc-50">
            <p class="mb-2">Site is not affiliated or endorsed by Van Ryder Games. The Final Girl boardgame logo is a trademark of Van Ryder Games and is used with permission.</p>
            <%= link_to "Privacy Policy", privacy_policy_path, class: "text-primary"  %>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
