<main class="bg-zinc-800 flex flex-col h-full w-full text-white">
  <div class="flex flex-col items-center justify-center my-8">
    <%= link_to root_path do %>
      <%= image_tag("final_girl_logo.png", class: "w-60") %>
      <p class="text-zinc-100 text-xl uppercase">Achievement Tracker</p>
    <% end %>
  </div>
  <div class="bg-zinc-900 rounded-t-3xl px-8 py-4 flex flex-col flex-1 items-center w-full">
    <h2 class="font-display text-4xl text-zinc-100"><%= yield :title %></h2>
    <div class="w-96 mt-4">
      <%= render template: 'layouts/application' %>
    </div>
    <footer class="mt-20 text-center px-32">
      <p>Site is not affiliated or endorsed by Van Ryder Games. The Final Girl boardgame logo is a trademark of Van Ryder Games and is used with permission.</p>
      <%= link_to "Privacy Policy", privacy_policy_path, class: "text-primary"  %>
    </footer>
  </div>
</main>
